<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Members Only</title>
</head>

<body>
  <%- include("navbar", locals.user) %>
  <%if(locals.user){ %>
  <%if(user.member == false){%>
  <div class="member">
    <p>If you want to see members name click on button bellow</p>
    <button onclick="window.location.href='/member'">Become a member</button>
  </div>
  <%}%>
  <%}%>
  <%if(locals.posts) {%>
  <div class="posts-container">
    <% posts.forEach((post) => { %>
    <div class="post-card">
      <div class="user-info">
        <%if(locals.user){%>
        <%if(user.member == true){%>
        <p><%= post.fullname%></p>
        <p>@<%= post.username%></p>
        <%} else {%>
        <p>*****</p>
        <p>*********</p>
        <%}%>
        <%} else {%>
        <p>*****</p>
        <p>*********</p>
        <%}%>
      </div>
      <div class="post-content">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
      </div>
    </div>
    <%}); %>
  </div>
  <%} else {%>
  <div class="post-card">
    <h2>There is no posts</h2>
  </div>
  <%}%>
</body>
</html>